<h1>Plantilla uno</h1>
<div class="box"></div>
<div class="my_box"></div>


<div class="lore_don_pollo">
    <h3>Don pollo</h3>
    <p> un video mas mi <strong>gente</strong> pa perder el tiempo empecemos el que quierea perder el
        <strong>tiempo</strong> viendo el video que lo pierda
    </p>
</div>

<hr>

<div class="notebox">This is an informational note.</div>

<div class="notebox warning">This note shows a warning.</div>

<div class="notebox danger">This note shows danger!</div>

<div class="danger">
  This won't get styled — it also needs to have the notebox class
</div>


<section class="emojis">
  <div class="emoji">
    <h2>text presentation</h2>
    <div class="text-presentation">☎</div>
  </div>
  <div class="emoji">
    <h2>emoji presentation</h2>
    <div class="emoji-presentation">☎</div>
  </div>
</section>