<!-- 
 
-->

<nav>
    <a routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true}"
    >platilla uno</a>
    |
    <a [routerLink]="['/plantilla-dos']"
    routerLinkActive="active"
    >plantilla dos</a>
    |
    <a [routerLink]="['/dragonball']"
    routerLinkActive="active"
    >dragonball</a>
    |
    <a [routerLink]="['/pruebas-enlaces']"
    routerLinkActive="active"
    >pruebas enlaces</a>
    |
    <a [routerLink]="['/formularios']"
    routerLinkActive="active"
    >formularios</a>
    |
    <a [routerLink]="['/otro-formulario']"
    routerLinkActive="active"
    >otro formulario</a>

</nav>

<hr>