.boton-1 {
  background-color: rgb(149, 244, 212);
  padding: 10px 20px;
  border: 4px solid rgb(35, 237, 234);
  border-radius: 6px;
  color: white;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.boton-2 {
  min-width: 10%;
  padding: 10px;
}
.boton-3 {
  min-width: 10%;
  padding: 10px;
  border: 4px solid rgb(13, 13, 13);
}

.boton-4 {
  min-width: 10%;
  padding: 10px;
}


input {
  display: block; /* clave para el vertical formulario*/
  margin-bottom: 10px;  /* clave para el vertical formulario*/

  padding: 8px;
  min-width:20%;

  border: 1px solid rgb(11, 216, 137);
  border-radius: 10px;

}

button {
  display: block; /* clave para el vertical formulario*/
  margin-bottom: 12px;  /* clave para el vertical formulario*/

}

.container {
  background-color: rgb(183, 124, 239);
  padding: 20px;
  width: 20%;

}

ul a {

  display: block; /* clave para el vertical formulario*/
  margin-bottom: 100px;  /* clave para el vertical formulario*/
  text-decoration: none;

}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.el-vertical {
  background-color: rgb(81, 225, 151);

  width: 170px;
  height: 700px;
  padding: 0;


  position: relative;/*CLAVE PARA MOVER la psocion del div*/
  left: 1200px;
  margin-top: -700px;

}

/* Change the link and background color on hover */
li a:hover {
  display: block;
  background-color: #555555;
  color: white;
  padding: 50px 40px;  /*altura, ancho*/

}

